@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: Georgia;
  background-image: repeating-linear-gradient(45deg, lightcyan, lightslategrey 4px);
  background-size: 1px 1px;
  background-color: lightseagreen;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer components{
  .btn {
    @apply rounded-md p-2 bg-blue-500 cursor-pointer shadow shadow-gray-600 border text-white border-2
  }

  .cancel-btn{
    @apply rounded-md p-2 bg-white text-slate-700 cursor-pointer shadow shadow-gray-600 border border-2 border-neutral-200
  }

  .nav-bar-item{
    @apply flex shrink-0 p-2 bg-slate-200 rounded-lg cursor-pointer mt-1 ml-1 mr-1 text-gray-500 shadow-md shadow-gray-600 select-none
  }
}